/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any additional styles here */

body {
    background-color: #F5F5F5 !important;
}

.slick-prev {
    left: 3% !important;
    z-index: 1000;
}

.slick-next {
    right: 3% !important;
    z-index: 1000;
}
